<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ISexMapper">
	<!-- 解决表名与字段不匹配 -->
	<resultMap type="com.model.Sex" id="sex">
		<id property="sexId" column="sex_id" />
		<result property="sexName" column="sex_name"/>
	</resultMap>
</mapper>
